/*  字体图标*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.navBarIcon {
    width: 1.3em;
    height: 1.3em;
    transform: scale(1.2)
}

.flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }