/*  字体图标*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.navBarIcon {
    width: 1.3em;
    height: 1.3em;
    transform: scale(1.2)
}

.flexBetween {
    display: flex;
    justify-content: space-between;
}

.flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexStartCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
}

.flexEndCenter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fsize14fweight700 {
    font-size: 14px;
    font-weight: 700;
}

.fsize12fweight400 {
    font-size: 12px;
    font-weight: 400;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}